<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/estilo.css">
    <title>Document</title>
</head>
<!--adicionando o metodo carregar quando a pagina carregar-->
<body onload="carregar()"> 

    <header>
        <h1>Hora do Dia</h1>
    </header>

    <section>
        <div id="msg">
            aqui vai aparecer a mensagem
        </div>
            
        <div id="foto" >
            <img id="imagem" src="../img/noite.png" alt="#">
        </div>
    </section>

    <footer>
        <p> &copy; Aprendendo JS com html5 e css3</p>
    </footer>


    <script src="/js/program.js"></script>
</body>
</html>